fastapi
uvicorn
python-dotenv
motor
openai
sqlalchemy
passlib
alembic
python-multipart
PyJWT
bcrypt
ffmpeg-python
httpx
neo4j
langchain
requests
langchain-neo4j
langchain-openai
langchain-community
PyDrive2